[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesOrdDesign"]
	path = BayesOrdDesign
	url = https://github.com/cran/BayesOrdDesign
[submodule "SAME"]
	path = SAME
	url = https://github.com/cran/SAME
